.toppagewrapper {
  background-image: url('KAZUHIRO171013110.jpg');
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.maintitle {
  font-size: 100px;
  text-align: center;
  color: #FFF;
}

.subtitle {
  font-size: 30px;
  text-align: center;
  color: #FFF;
}

.devisebtn{
  background-color: #00F;
  color: #FFF;
  margin: 15px;
}

.acountbtn {
  text-align: center;
}

.signup-login-page-wrapper {
  background-color: #3399FF;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url('YAMA_DSC2553.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.etc-btn {
  text-align: center;
}

.userpage-wrapper {
  background-color: #3399FF;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url('MIMIYAKO85_cahigashi20140726.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}